<tr>
  <td style="font-size: 0px; word-break:break-word">
    <p style="border-top: solid 2px #2196F3; font-size: 1px; margin: 0px auto; text-align:center;"></p>
  </td>
</tr>

<tr class="footer">
  <td>
    <table width="100%" class="pt-sm">
      <tr class="bold">
        <td style="padding-top: 10px;">
          <p class="text-center" style="Margin: 0; color: #64748b; font-size: 14px;">
            Powered by <span style="color: #2196F3; font-weight: 600;">Weave</span>
          </p>
        </td>
      </tr>
    </table>
  </td>
</tr>
