{% extends "_layout/layout1.html.njk" %}

{% block subject %}Welcome to Weave 🎉{% endblock %}

{% block message %}
  <tr class="content">
    <td>
      <table width="100%" class="pb-md">
        <h1 class="title mb-lg" style="text-align: center;">Welcome to Weave!</h1>

        <p>Hi {{ firstName }},</p>

        <p>Thanks for joining Weave! We're excited to have you on board.</p>

        <p></p>
      </table>
    </td>
  </tr>

  {% include "_layout/footer/immutableFooter.html.njk" %}
{% endblock %}
