{% extends "_layout/layout1.html.njk" %}

{% block subject %}🚨📢🔔⚠️ SERVER ERROR!{% endblock %}

{% block message %}
  <tr class="content">
    <td>
      <table width="100%" class="pb-md">

        <p>Hi admin,</p>

        <p>From operation: {{ fromOperation }}</p>
        <p>From environment: {{ env }}</p>

        <pre
          style="white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">
{{ providedContent | dump(2) }}
        </pre>
        <br/>
      </table>
    </td>
  </tr>

  {% include "_layout/footer/immutableFooter.html.njk" %}
{% endblock %}
